body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    height: 100%;
    margin: 0;
    font-size: 17px;
    margin: 0;
    top: 0;
    padding: 0;
    background: linear-gradient(to left, #ffff, #F7F6BB);
    height: 90vh;
}

.container{
    width: 500px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    margin: auto;
    margin-top: calc(50vh - 220px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.container_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 10px;
    width: 200px;
    height: 400px;
    box-sizing: border-box;
    background: #FCDC2A;
}

.container_credentials {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    gap:  20px;
    background: #114232;
    color: white;
}


.container_info h3{
    text-decoration:overline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.mensaje{
    color: red;
    font-size: 13px;
    flex-direction: column;
    text-align: center;
}

.container_header {
    align-content: center;
    text-align: center;
    padding: 10px;
    display: flex;
    align-self: flex-start;
}

.container_credentials  input[type="text"]{
    border-radius: 5px;
    width: 200px;
    font-size: 17px;
    background: #beecdd;
}

.container_credentials button{
    background: #F7F6BB;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    border: none;
}

.container_credentials button:hover{
    background: #87A922;
    border: none;
    color: white;
}

.container_info img{
    width: 180px;
    height: 180px;
    box-shadow: 3px 3px rgb(198, 197, 197);
}
/*media queri*/
@media screen and (max-width: 600px) {
    body{
        background: #F7F6BB;
        margin-top: 40px;
    }
    .container{
        width: 340px;
        height: 400px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
    .container_info{
        background-color: #0007c5;
        align-items: center;
        text-align: left;
        padding: 10px;
        width: 340px;
        height: 100px;
        box-sizing: border-box;
        background: #FCDC2A;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container_info img{
        width: auto;
        height: 80px;
        box-shadow: 3px 3px rgb(198, 197, 197);
    }
    .container_info h3{
        margin-right: 40px;
        font-size: 20px;
        text-decoration:underline;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .container_credentials {
        display: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 340px;
        height: 300px;
        gap:  10px;
        background: #114232;
        color: white;
    }
    .container_credentials h3{
        font-size: 19px;
        box-sizing: border-box;
        margin: 0px;
        height: auto;
    }
}

.foter-container{
    background: #114232;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px;
    height: 50vh;
    align-items: center;
    justify-content: center;
    color: #FCDC2A;
    padding: 5px;
}

footer {
    background-color: #114232;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.cell-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.pie-pagina {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.grupo-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Fother-box {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.Fother-box figure {
    margin: 0;
    text-align: center;
}

.Fother-box img {
    max-width: 100px;
    height: auto;
}

.Fother-box h2 {
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
}

.Fother-box p {
    font-size: 15px;
    text-align: center;
    margin: 5px 0;
    text-decoration: none;
    color: #FCDC2A;
}

/* Social Media Icons */
.red-social {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.red-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 50px;
    margin: 0 10px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
/*
.red-social a:hover {
    background: #FCDC2A;
    border-radius: 20px;
    transition-property: background, border-radius, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}*/
.h-facebook:hover{
    background: #0007c5;
    border-radius: 20px;
    transition-property: background, border-radius, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.h-instagram:hover{
    border-radius: 20px;
    transition-property: background, border-radius, box-shadow;
    transition-duration: 0.3s;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.h-twitter:hover{
    background: rgb(0, 184, 245);
    border-radius: 20px;
    transition-property: background, border-radius, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Responsive Design */
@media (max-width: 768px) {
    .grupo-1 {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: center;
    }

    .Fother-box {
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        text-align: center;
    }
}

