body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    max-height: 100vh;
    margin: 0;
    font-size: 17px;
    margin: 0;
    top: 0;
    padding: 0;
    background: linear-gradient(to left, #ffff, #F7F6BB);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    width: 500px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    margin: auto;
    margin-top: calc(50vh - 220px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.container_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 10px;
    width: 200px;
    height: 400px;
    box-sizing: border-box;
    background: #FCDC2A;
}

.container_credentials {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    gap:  20px;
    background: #114232;
    color: white;
}


.container_info h3{
    text-decoration:overline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.mensaje{
    color: red;
    font-size: 13px;
    flex-direction: column;
    text-align: center;
}

.container_header {
    align-content: center;
    text-align: center;
    padding: 10px;
    display: flex;
    align-self: flex-start;
}

.container_credentials  input[type="text"]{
    border-radius: 5px;
    width: 200px;
    font-size: 17px;
    background: #beecdd;
}

.container_credentials button{
    background: #F7F6BB;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    border: none;
}

.container_credentials button:hover{
    background: #87A922;
    border: none;
    color: white;
}

.container_info img{
    width: 180px;
    height: 180px;
    box-shadow: 3px 3px rgb(198, 197, 197);
}
/*media queri*/
@media screen and (max-width: 600px) {
    body{
        margin-top: 150px;
        background: #F7F6BB;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .container{
        width: 280px;
        height: 400px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
    .container_info{
        background-color: #0007c5;
        align-items: center;
        text-align: left;
        padding: 10px;
        width: 280px;
        height: 100px;
        box-sizing: border-box;
        background: #FCDC2A;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container_info img{
        width: auto;
        height: 80px;
        box-shadow: 3px 3px rgb(198, 197, 197);
        margin-right: 15px;
    }
    .container_info h3{
        margin-right: 40px;
        font-size: 20px;
        text-decoration:underline;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .container_credentials {
        display: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 280px;
        height: 300px;
        gap:  10px;
        background: #114232;
        color: white;
    }
    .container_credentials h3{
        font-size: 19px;
        box-sizing: border-box;
        margin: 0px;
        height: auto;
    }
}


/* Responsive Design */
@media (max-width: 768px) {
    .grupo-1 {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: center;
    }

    .Fother-box {
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        text-align: center;
    }
}

