body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 17px;
    margin: 0;
    top: 0;
    padding: 0;
    background: linear-gradient(to left, #ffff, #F7F6BB);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    overflow: hidden;
}

.back{
    background-size: cover;
    box-sizing: border-box;
    filter: blur(4px);
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100vh;
    z-index:  -1;
}




  .container_informacion {
    align-items: center;
    align-content: center;
    z-index: 1;
    text-align: center;
    font-family: sans-serif;
    /*background-color: #114232;*/
    border-radius: 20px;
    opacity: 0.9;
    color: #87A922;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  .container_notas{
    display: grid;
    grid-template-columns: 400px 600px;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding: 10px;
    max-width: 600px;
    width: 900px;
    column-gap: 14px;
  }

  /*contenedor principal*/
  .container_notas_menu{
    /*border: 2px solid rgb(0, 0, 0);*/
    /*width: 400px;*/
    display: flex;
    width: 400px;
    flex-direction: row;
    align-items: center;
    height: 500px;
    background: #FCDC2A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .container_notas table{
    /*border: 2px solid rgb(7, 108, 176);*/
    height: 500px;
    width: 750px;
    background: #114232;
  }
  .notas {
    padding: 10px;
    width: auto;
    border-collapse: collapse;
    border: 2px solid #FCDC2A;
  }
  
  .notas th {
    background-color: #f9e895;
    border: 1px solid #FCDC2A;
    padding: 8px;
    text-align: left;
  }
  
  .notas td {
    border: 1px solid #FCDC2A;
    padding: 8px;
    color: #ffff;
  }
  .container_notas {
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    width: 80%;
}

.container_notas_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_notas_buscador, 
.container_notas_nivelSelector {
    margin-bottom: 10px;
}

.container_notas_buscador h3, 
.container_notas_nivelSelector h3 {
    margin-bottom: 5px;
}

.container_notas_buscador select, 
.container_notas_nivelSelector select {
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
}
h2, h3 {
    color: #333;
}

.container_notas_nivelSelector button{
  border: 2px solid black;
  background-color: #87A922;
  border-radius: 10px;
  width:  40%;
  height: 35px;
}

.container_notas_nivelSelector button:hover{
  background-color: #F7F6BB;
  opacity: .9;
}

@media screen and (max-width: 600px){
  body{
    max-width: 600px;
  }
  .container_header{
    background-color: #FCDC2A;
    margin: 0px;
    align-items: center;
    justify-content: center;    
  }
  .container_header nav{
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    justify-self: start;
    margin: 0px;
    margin-left: 0px;
  }
  .container_header ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_notas{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
  }
  .container_notas_menu{
    /*background-color: #87A922;*/
    font-size: 14px;
    width: 300px;
    height: 350px;
  }
  .container_notas table{
    background:#87A922;
    width: auto;
    height: 500px;
    overflow: scroll;
  }
  ::-webkit-scrollbar-corner {
    background: #f1f1f1;
  }
  .container_notas th{
    font-size: 12px;
    text-align: center;
  }
  #salmo{
    color:#114232;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    text-decoration: overline;
    font-size: 14px;
  }
}
@media screen and (max-width: 800px){
  .container_header{
    background-color: #FCDC2A;
    margin: 0px;
    align-items: center;
    justify-content: center;    
  }
  .container_header nav{
    background: #FCDC2A;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    justify-self: start;
    margin: 0px;
    margin-left: 0px;
  }
  .container_header ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_notas{
    display: flex;
    display: grid;
    grid-template-columns: 1fr;
    /*background-color: red;*/
  }
  .container_notas_menu{
    /*background-color: #87A922;*/
    font-size: 14px;
    width: 300px;
    height: 350px;
  }
  .container_notas table{
    background:#87A922;
    width: auto;
    height: 500px;
    overflow: scroll;
  }
  ::-webkit-scrollbar-corner {
    background: #f1f1f1;
  }
  .container_notas th{
    font-size: 12px;
    text-align: center;
  }
}
@media screen and (max-width: 950px){
  .container_header{
    background-color: #FCDC2A;
    margin: 0px;
    align-items: center;
    justify-content: center;  
  }
  .container_header nav{
    display: flex;
    color:#000000;
    align-items: center;
    justify-content: center;
    justify-self: start;
    margin: 0px;
    margin-left: 0px;
  }
  .container_header ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_notas{
    display: grid;
    grid-template-columns: 400px;
    align-items: center;
    justify-content: center;
  }
  .container_notas_menu{
    font-size: 14px;
    width: 400px;
    height: 350px;
  }
  .container_notas table{
    background:#87A922;
    width: auto;
    height: 500px;
    overflow: scroll;
  }
  ::-webkit-scrollbar-corner {
    background: #f1f1f1;
  }
  .container_notas th{
    font-size: 12px;
    text-align: center;
  }
}
#salmo{
  color:#114232;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration:overline;
}
/*responsive*/
@media screen and (max-width: 600px){
  

}